body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  color: #282828;
}

header {
  background-color: #282828;
}

ul{
  display: flex;
  color: whitesmoke;
  padding: 25px;
  list-style-type: none;
  margin: 0;
  align-items: center;
  gap: 10px;
}

li {
  cursor: pointer;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  
}

.icon {
  width: 25px;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 30px 25px;
}

.caption {
  margin: 0 25px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.item-img {
  width: 100%;
  display: block;

}

.item {
  position: relative;
}

.align-right {
  margin-left: auto;
}

.img-banner{
  position: absolute;
  top: 0;
  padding: 10px;
  background-color: #cd6859;
  color: whitesmoke;
  opacity: 0.8;
}

button {
  border: none;
  background-color: #cd6859;
  color: whitesmoke;
  padding: 10px 15px;
  font-weight: 700;
  margin: auto;
  cursor: pointer;
}

.chatbox-bg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px 5px #999;
  display: flex;
  background-color: orange;
  position: fixed;
  right:6px;
  bottom: 6px;;
}

.chatbox-img {
  width: 50%;
  margin: auto;
}